<?php defined('SYSPATH') or die('No direct script access.');

/**
 * Kohana CDN Config
 *
 * @author     Ushahidi Team <team@ushahidi.com>
 * @package    Ushahidi\Application\Config
 * @copyright  2015 Ushahidi
 * @license    https://www.gnu.org/licenses/agpl-3.0.html GNU Affero General Public License Version 3 (AGPL3)
 */

return array(

	'baseurl' => '{{ platform_cdn_baseurl }}',

	// The default configuration using a local file system setup
	//'type' => 'local',
	'local' => [
		// Where to upload media files eg. images. Take note of the trailing slash.
		// This should be in the Document root.
		'media_upload_dir' => APPPATH.'media'.DIRECTORY_SEPARATOR.'uploads'.DIRECTORY_SEPARATOR,
	],

	// Rackspace CDN config
	'type' => 'rackspace',
	'rackspace' => [
		'username'  => '{{ platform_cdn_user }}',
		'apiKey'    => '{{ platform_cdn_apikey }}',
		'region'    => '{{ platform_cdn_region }}',
		'container' => '{{ platform_cdn_container }}'
	]

);
